
footer
  p
    | inspired by 
    a(href='https://codepen.io/chrisgannon/pen/OwQyag') Chris G
    | 
    i.fa.fa-codepen
    br
    | penned by 
    a(href='https://codepen.io/dopamine')  zita
    | 
    i.fa.fa-star.star
    
