// output:../index.html

include ./codepen-header.jade



.space
  .planet
  .flight
    .path
    .spaceship
      .body
      .viewport
      .wings
      .thruster
      .flame










include ./codepen-footer.jade
