
footer
  p
    | shot by 
    a(href='https://dribbble.com/shots/2588876-Hamster')  Nudge
    | 
    i.fa.fa-dribbble
    br
    | penned by 
    a(href='https://codepen.io/dopamine')  zita
    | 
    i.fa.fa-star.star
    
