// output:../index.html

include ./codepen-header.jade



.scene
  .wheel
    .drum
      .bar
    .nut
    .stand

  .hamster
    .body
      .face
        .eyes
        .chin
        .ears
        .whiskers
      .legs
        .front
        .back
      .tail









include ./codepen-footer.jade
